*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing: border-box;
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    width:100%;
    height:100%;
    background:var(--lavenderBlush);
}