:root{
    --lavenderBlush:#fff0f5;
    --lace:#FBFCF7;
    --eggshell:#f0ead6;
    --charcoal:#4a4a4a;
    --leather:#0b0704;
    --raven:#050301;
    --fireBrick:#b22222;
    --fern:#4f7942;
    --shadow:#373737;
    --lightShadow:#37373790;
}